VITE_SUPABASE_URL=https://hcpxdculjgjeggmvxltc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjcHhkY3VsamdqZWdnbXZ4bHRjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU4NDAyNDMsImV4cCI6MjEwMTQxNjI0M30.MjvS6xU8HWN_xVDg5pcaJEW0X0tJtCllpmfTjuTqSBE